.jetbrainsmono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

header h1{
    width: auto;
    height: 100px;   
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: url(./../other/photos/infor.png);
    justify-content: center;
    align-items: center;
}

.cktile{
    border-bottom: rgb(255, 255, 255) 10px solid;
}

header {
    background-color: black;
    padding: 0;
    width: 100%;
}


.computerNav {
    flex-direction: row-reverse;
    background-color: #000000;
    height: 80px;
    display: flex;   
}


.title1Mobile {
    color: rgb(4, 3, 3);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 100%;
    line-height: 50%;
    display: flex;
}

.title2Mobile {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 65%;
    line-height: 50%;
    letter-spacing: 1px;
    display: flex;
}


nav ul {
    display: flex;
    list-style: none;
    margin-top: 35.5px;
    margin-bottom: 35.5px;
    text-align: right;
    padding-left: auto;
    position: absolute;
    right: 30px;
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
  
.topnav #myLinks a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 0; /* 確保圖片緊貼著上方的導航欄 */
    background-color: #000000;
}

.logo-container {
    text-align: center;
    margin-top: 0; /* 去除任何頂部邊距 */
}

.logo-container img {
    width: 100%; /* 固定寬度確保logo大小合適 */
    height: auto;
    animation: slide-in 1s ease-out; /* 應用動畫 */
}
/* 
.gallery {
    height: 450px;
    width: 800px;
    position: relative;
}
  
.image-slider {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
}

.image-slider img {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
  
.indicators {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
  
.indicator {
    border-radius: 50%;
    background-color: lightgray;
    height: 10px;
    width: 10px;
    cursor: pointer;
}
  
.Active {
    background: #ffffff;
    height: 16px;
    width: 16px;
} */

.upper_footer{
    margin-top: 20px;
    background-color: rgb(30, 24, 24);
    /* position: fixed; */
    bottom: 50px;
    display: flex;
    width: 100%;
    height: 200px;
}

.footer_container{
    padding: 0;
}

.freind_club_topic{
    margin-bottom: 25px;
    color:white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 130%;
    font-style: normal;
}

footer ul{
    list-style: none;
    position: absolute;
    /* top: 20px; */
    right: 67.5px;
    color:white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 100%;
    font-style: normal; 
    display: inline;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    height: auto;
    margin-top: 20px;
    text-wrap: nowrap;
}

.freind_club{
    margin-top: 15px;
    color:white;
    font-family: "JetBrains Mono", "Noto Sans TC", sans-serif, monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 90%;
    font-style: normal;
    display: block;
    flex-direction: column;
    text-decoration-line: none;
}

footer img{
    margin-top: 67.5px;
    margin-left: 67.5px;
    width: 330px;
    height: 65px;
}

.bottom_footer{
    background-color: rgb(30, 24, 24);
    /* margin-top: 10px; */
    border-top: 1px solid rgb(223, 222, 222);
    /* position: fixed; */
    bottom: 0px;
    height: 70px;
    width: 100%;
    display: flex;
}

.bottom_footer img{
    margin-top: 10px;
    margin-left: 80px;
    width: 190px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.flexContainer {
    display: flex;
}

.mobileFooter {
    display: none;
    margin-top: 10px;
    background-color: rgb(30, 24, 24);
}

.mobileClubSignImg {
    margin-top: 65px;
    margin-left: 25px;
    margin-bottom: 65px;
    width: 174.24px;
    height: 35px;
}

.mobileIGImg {
    margin-top: 10px;
    margin-left: 25px;
    width: 141.4px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.mobileFooter ul {
    list-style: none;
    position: absolute;
    /* top: 20px; */
    right: 20px;
    color:white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 80%;
    font-style: normal; 
    display: inline;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    height: auto;
    margin-top: 20px;
    text-wrap: nowrap;
}

.introContainer {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    border: 15px;
    border-radius: 30px;
    background-clip: padding-box;
    width: fit-content;
    max-height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #d4d4d4;    
    color:black;
}

.topic {
    font-size: 30px;
    color: black;
    text-align: left;
    width: fit-content;
    margin-left: 10%;
}

hr {
    border-color: black;
}

.introText {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-left: 10%;
    margin-top: 10px;
    padding: 10px 20px;
    box-sizing: border-box; 
}

.hidden {
    opacity: 0;
    transform: translateY((50%));
}

.slide-in {
    animation: slide-in 1s ease-out;
}

.mySlides {
	display: none;
}

.mySlides img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.Active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 定義動畫 */
@keyframes slide-in {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 2160px) and (min-width: 1083px) {
    .logo-container img {
        height: 100%;
        width: auto;
    }
    .topnav {
        display: none;
    }
    .mobileFooter {
        display: none;
    }
} 

@media (max-width: 1082px) {
    .logo-container img {
        width: 100%;
        height: auto;
    }
    .homepage_title {
        display: none;
    }
    .computerNav {
        display: none;
    }
    .topnav {
        display: inline;
    }
    header {
        padding: 0;
    }
    .footer_container {
        display: none;
    }
    .mobileFooter {
        display: block;
    }
    .introContainer {
        margin: 50px 20px;
    }
    .innerText {
        padding: 10px 30px;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}