.jetbrainsmono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: url(./../other/photos/infor.png);
    justify-content: center;
    align-items: center;
}

.cktile{
    border-bottom: rgb(255, 255, 255) 10px solid;
}

header {
    background-color: #000000;
    padding: 0;
}

.computerNav {
    flex-direction: row-reverse;
    background-color: #000000;
    display: flex;   
}

/*與computernav齊行，放logo與ckinfor*/
.title_and_nav_container{
    background-color: #00000055;
    display: flex;
    padding-right: auto;
}

.homepage_title img{
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 20px;
    width: 170px;
    height: 70px;
    display: flex;
}

.logoImg {
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 20px;
    width: 170px;
    height: 70px;
    display: flex;
}

.title1{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 100%;
    line-height: 50%;
    display: flex;
}

.title1Mobile {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 100%;
    line-height: 50%;
    display: flex;
}

.sorry{
    color: white;
    text-align: center;
}

.title2{
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 65%;
    line-height: 50%;
    letter-spacing: 1px;
    display: flex;
}

.title2Mobile {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 65%;
    line-height: 50%;
    letter-spacing: 1px;
    display: flex;
}

.clubsign img{
    margin: 50px;
    height: 92px;
    width: 400px;
}

.computerNav a{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: 0.15s;
    background-color: black ;
    color: white;
    border: none;
    text-align: center;
    border-radius: 17px;
    font-size: 20px;
    padding: auto 10px 10px auto;
    height: 25px;
    width: 25px;
    padding-right: 10px;
}

.computerNav a:hover{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: 0.15s;
    background-color: white;
    color: black;
    border: none;
    text-align: center;
    border-radius: 17px;
    font-size: 20px;
    padding: 20px 40px; 
    height: 25px;
    width: 25px;    
}

img{
    width:auto
}

nav ul {
    list-style: none;
    margin-right: 10px;
    margin-top: 35px;
    text-align: right;
    padding-left: auto;
    position: absolute;
    right:10px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.topnav #myLinks a:hover {
    background-color: #ddd;
    color: black;
}
  
.active {
    background-color: #000000;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0; /* 確保圖片緊貼著上方的導航欄 */
}

.logo-container {
    text-align: center;
    margin-top: 0; /* 去除任何頂部邊距 */
}

.logo-container img {
    width: 100%; /* 固定寬度確保logo大小合適 */
    height: auto;
    animation: slide-in 1s ease-out; /* 應用動畫 */
}

.gallery {
    height: 450px;
    width: 800px;
    position: relative;
}
  
.image-slider {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
}
  
img {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
  
.indicators {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
  
.indicator {
    border-radius: 50%;
    background-color: lightgray;
    height: 10px;
    width: 10px;
    cursor: pointer;
}
  
.Active {
    background: #ffffff;
    height: 16px;
    width: 16px;
}

/* 定義動畫 */
@keyframes slide-in {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1008px) and (min-width: 689px) {
    .logo-container img {
        height: 100%;
        width: auto;
    }
    .topnav {
        display: none;
    }
} 

@media (max-width: 688px) {
    .logo-container img {
        width: 100%;
        height: auto;
    }
    .homepage_title {
        display: none;
    }
    .computerNav {
        display: none;
    }
    .topnav {
        display: inline;
    }
    header {
        padding: 0;
    }
}