body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #faebd7;
}

header {
    background-color: #f8931d;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hidden {
    opacity: 0;
    transform: translateY((50%));
}

.slide-in {
    animation: slide-in 1s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}